# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env
*.db
*.sqlite3

# Node
node_modules/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
backend/database.db
backend/simulate_bot.py

# PyInstaller
backend/build/
backend/dist/
*.spec
